<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
            <table border="1">
                <tr>
                    <td><a href="/buyer/print-menu">메뉴 조회</a></td>
                    </tr>
                    <tr>
                    <td><a href="/buyer/print-cart">장바구니 조회</a></td>
                    </tr>
                    <tr>
                        <td><a href="/">기본 화면 돌아가기</a></td>
                    </tr>
            </table>
        
    </body>
</html>