<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <br>
        <br>
        <form action="/buyer/add-cart/<%=menuID%>" method="post">
            <table border="1">
                <tr>
                    <td>메뉴 ID</td>
                    <td><%=menuID%></td>
                </tr>
                <tr>
                    <td>장바구니에 넣을 구매자 ID 입력</td>
                    <td><input type="text" name="userID"></td>
                </tr>             
                <tr><td><button type="submit">추가</button></td></tr>  
            </table>            
        </form>
    </body>
</html>
   
</html>