<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script>
    	$(function(){
            $("#btnlogin").click(
                function(){
                    location.href="/login";
                });
            $("#btnlogout").click(
                function(){
                    location.href="/logout";
                });
            $("#btnjoin").click(
            	function(){
            		location.href="/joinForm";
            	});
            $("#btnacc").click(
            	function(){
            		location.href="/account";
            	});
            $("#btnsel").click(
            	function(){
            		location.href="/seller";
            	});
            $("#btnbuy").click(
            	function(){
            		location.href="/buyer";
            	});
            $("#btnmy").click(
            	function(){
            		location.href="/account/info/"+$("#id").val();
            	});
    	});
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%=login%></p>
	<input type="hidden" id="id" name="id" value="<%=login%>"/>
    <% if(login == "unlogin") { %>
    <input type="button" id="btnlogin" name="login" value="로그인">
    <input type="button" id="btnjoin" name="join" value="회원가입">
    <% } else { %>
    <input type="button" id="btnlogout" name="logout" value="로그아웃">
    <input type="button" id="btnmy" name="my" value="내정보">
    <% if(auth == "구매자") { %>
    <input type="button" id="btnbuy" name="buyer" value="구매자">
    <% } else if(auth == "판매자") { %>
    <input type="button" id="btnsel" name="seller" value="판매자">
    <% } else { %>
    <input type="button" id="btnacc" name="account" value="회원정보관리">
    <% }} %>
  </body>
</html>
