<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        
        <form action="/store/update" method="get">
            <table border="1">
                수정할 상품 검색<br>
                <br>
                ID : <input type="text" name="ID"/>
                NAME : <input type="text" name="NAME"/>
                
                <tr>
                    <td colspan="2">
                        <button type="submit">검색</button><br>

                        <a href="/store">매장 화면으로 돌아가기</a>
                    </td>
                </tr>
            </table>
            
        </form>
</html>