<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/jquery-3.5.1.min.js"></script>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/seller" method="get">
            <table border="1">
                <tr>
                    <td><a href="/seller/find">회원 정보 조회</a></td>
                </tr>
                <tr>
                    <td><a href="/seller/add">상품 추가</a></td>
                </tr>
                <tr>
                    <td><a href="/seller/updateinfo">상품 수정</a></td>
                </tr>
                <tr>
                    <td><a href="/seller/delete">상품 삭제</a></td>
                </tr>
                <tr>
                    <td><a href="/seller/order">주문 현황</a></td>
                </tr>
                <tr>
                    <td><a href="/seller/soldout">판매 내역 확인</a></td>
                </tr>
                <tr>
                    <td><a href="/seller/analytics">매출 정보</a></td>
                </tr>


            </table>
        </form>
        
    </body>
</html>